.title-box {
    width: var(--width-content-box);
    margin: auto;
}

.inner-box {
    width: var(--width-content-box);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: var(--color-content-box);
    border-radius: var(--border-radius-8);
    box-shadow: var(--shadow-color-box);
    position: relative;
}

.box-notice {
    position: absolute;
    z-index: 50;
    top: 50%;
    right: 20%;
    width: var(--width-content-box);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: var(--color-content-box);
    border-radius: var(--border-radius-8);
    box-shadow: var(--shadow-color-box);
}

.content-notice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-confirm {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto !important;
}

.btn-confirm {
    margin-top: 20px;
}

.control-holiday {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.btn-holiday {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: var(--border-radius-8);
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme);
    .svg-btn {
        fill: var(--color-content-box);
    }
    .text {
        color: var(--color-content-box);
    }
    &:hover {
        cursor: pointer;
        background-color: var(--color-content-box) !important;
        .svg-btn {
            fill: var(--color-theme) !important;
        }
        .text {
            color: var(--color-theme) !important;
        }
    }
}

.btn-delete {
    border: 1px solid var(--color-theme-delete) !important;
    background-color: var(--color-theme-delete) !important;
    &:hover {
        cursor: pointer;
        background-color: var(--color-content-box) !important;
        .svg-delete {
            fill: var(--color-theme-delete) !important;
        }
    }
}

.btn-text {
    width: 60px !important;
}

.content {
    font-family: var(--font-family);
}

.text {
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    line-height: 20px;
    color: var(--color-theme);
    user-select: none;
}

.list-holiday {
    display: flex;
    flex-direction: column;
}

.item-inner-lisst,
.line-title {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    border-top: 0px;
}

.line-title {
    border-top: 1px solid var(--color-border);
    font-weight: 800;
}

.name-num,
.numerical-order {
    width: 10%;
}

.name-holiday {
    width: 90%;
}

.item-holiday {
    width: 80%;
}

.box-btn-holiday {
    width: 10%;
}

.box-btn-holiday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.box-input-dn {
    display: none;
    position: absolute;
    right: 100%;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
